# Flutter/Dart/Pub related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
Runner.xcworkspace/

# Build directories
build/
DerivedData/

# CocoaPods
Podfile.lock

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Compiled executables
*.app
*.dSYM.zip
*.dSYM

